.show_emp{
    border-style: inset;
    border-color: #1affff;
    border-width:5px;
    border-radius: 10px;
    width: 25%;
    padding:50px;
    margin-left: 450px;
    margin-top: 40px;
    font-family:"Times New Roman", Times, serif;
}
.btn-success{
    margin-left: 30px;
}